<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string></string>
			</array>
			<key>Item 1</key>
			<string>locallink</string>
		</dict>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Item</string>
				<string>com.googleusercontent.apps.126981571024-hjpfhln362q2iadd2mp9gblvg2sjnfll</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
